:root {
  --black: #333333;
  --blue: rgb(32, 163, 226);
  --white: #ffffff;
  --darkerBlue: #156185;
}

body {
  font-family: "Rubik" !important;
}

a {
  text-decoration: none !important;
}

/* RTL direction */
.navbar ul,
.slogan-text,
.about .content,
.advice {
  direction: rtl;
}

/* coloring stylings */

.blue {
  color: var(--blue) !important;
}

.black {
  color: var(--black) !important;
}

.white {
  color: var(--white) !important;
}

.blackbg {
  background-color: var(--black) !important;
}

.bluebg {
  background-color: var(--blue) !important;
}

/* fading & floating effects */

.transparent {
  opacity: 0;
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.floatUp {
  transform: translateY(40px);
}

.floatLeft {
  transform: translateX(40px);
}

@media (max-width: 768px) {
  .transparent-sm {
    opacity: 1;
    transform: translateY(0px);
    transform: translateX(0px);
  }
}

.view-now {
  opacity: 1;
  transform: translateY(0px);
}

/* Navbar*/
.navbar {
  background-color: var(--white) !important;
  font-weight: bold;
  z-index: 1;
}

.navbar ul {
  width: 70%;
  justify-content: space-between;
}

.navbar .logo {
  width: 50px;
}

.navbar a.nav-link {
  color: var(--blue);
}

.navbar a.nav-link:hover {
  color:  rgb(6, 100, 144);
}

@media (min-width: 576px) and (max-width: 768px) {
  .navbar ul {
    width: 90%;
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .navbar .logo {
    width: 40px;
  }
}

.navbar button {
  background-color: var(--blue);
  border: none;
  border-radius: 10%;
}

.navbar .logo-container {
  width: max-content;
}

/* END OF NAVBAR STYLING */

/* landing section */

.landing {
  height: max-content;
}

.fade-in {
  opacity: 0;
  transition: opacity 1.2s ease;
}

.fade-in.active {
  opacity: 1;
}



/* end of landing section*/

/* slogan section */

.slogan {
  font-size: 5vw;
}

.advice{
  font-size: 1.8rem !important;
  color:var(--white);
}
.advice li::marker {
  content: url("./assets/list-logo.png");

}
@media (max-width: 576px) {
  .slogan {
    font-size: 1.6em;

  }
  .ksa-map {
    width: 100% !important;
  }
  .advice{
    font-size: 1.2rem !important;
    background-image: url("./assets/img/map-bg.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .advice ul{
    padding-right: 70px;
  }
}

/* end of slogan section */

/* about us */

.van-container {
  width: 40%;
}
.about h2,
.services h2,
.numbers h2,
#cars h2,
#clients h2,
.distinguish-title h2,
.contact-us {
  font-size: 5vw;
}
.about .content p {
  font-size: 1.8vw;
  /* font-weight: bold; */
}

.about .content {
  width: 60%;
}

@media (max-width: 576px) {
  .about .content {
    text-align: center;
  }
  .about h2,
  .services h2,
  .numbers h2,
  #cars h2,
  #clients h2,
  .distinguish-title h2,
  .contact-us {
    font-size: 2em;
  }
  .about .content p {
    font-size: 0.9em;
    font-weight: bold;
  }
  .about .content {
    width: 100%;
    background-color: rgba(
      32,
      163,
      226,
      0.8
    ); /* Adjust alpha value (0-1) for transparency */
  }

  .about {
    background-image: url("./assets/img/about-bg.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
}

/* end of about us secrtion*/

/* services section */

.service-card {
  height: 220px;
  border: #20a3e2 solid 1px;
  border-radius: 10%;
  width: 100%;
}
@media (min-width: 769px) and (max-width: 992px) {
  .service-card {
    width: 60%;
  }
}
.service-content {
  font-size: 20px;
}

/* stats section */

.numbers .box {
  font-size: 1.7rem;
}
.stats .ctr {
  font-size: 3.4rem;
}

#cars {
  background-image: url("./assets/img/road-bg.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cars-content {
  font-size: 2.4vw;
  direction: rtl;
  border-radius: 10px;
}
@media (max-width: 576px) {
  .cars-content {
    font-size: 1em;
  }
}

/* clients section */

.one-client {
  width: 30%;
  height: 30%;
}

.container-client {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
}

/* Style for the image inside the circular container */
.container-client > img {
  width: 85%;
  height: 60%;
}

.content-client {
  font-size: 1.6em;
}

/* end of clients section */

/* distinuish section */
.one-pt,
.pts {
  direction: rtl;
}

.pts {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

.pt-content {
  font-size: 1.5em;
}

.contact-content {
  font-size: 2vw;
}

.contact-details {
  font-size: 1.4em;
}
.contact-details-phone {
  font-size: 1.2em;
}

/* .footer {
  background-color: var(--darkerBlue);
} */

.sm-link {
  text-decoration: none;
  color: black !important;
}

.sm-link img {
  width: 50px;
}

@media (max-width: 576px) {
  .pt-content {
    font-size: 1em;
  }
  .pts {
    width: 90%;
  }
  .contact-content {
    font-size: 1.8em;
  }

  .sm-link img {
    width: 30px !important;
  }
  .cpr {
    font-size: 0.7em;
  }
}

#goToTop {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */

  color: var(--blue); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  background-color: black;
}

#goToTop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
